{%  extends 'base.html.twig' %}


{% block body %}
        <link href="{{ asset('bundles/embirestau/css/style.css') }}" rel="stylesheet">
        <div class="titre">Bienvenue au RestauBlog !</div>


{% endblock %}
